[Ll]ibrary/
[Tt]emp/
[Oo]bj/
[Bb]uild/
[Bb]uilds/
!BuildWeb/Build/
!BuildWeb/Build/**
[Ll]ogs/
UserSettings/

*.csproj
*.unityproj
*.sln
*.tmp
*.user
*.userprefs
*.pidb
*.booproj
*.svd

.vscode/
.idea/
.plastic/
.DS_Store
Thumbs.db
